.header{
  background: url("images/header-image.jpg") no-repeat center -13px;
  color: #ffffff;
  text-align: center;
}

.header p{
  max-width: 700px;
  margin: 0 auto;
}

.header a{
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.header-logo{
  display: block;
  font-size: 5em;
  font-family: 'Arima Madurai', cursive;
  padding: 64px 0 60px;
}

.header-logo a{
 display: inline;
}

.header-logo span{
  color: #9f449b;
}

.header-nav-top {
  display: flex;
  justify-content: center;
}

.nav-top{
  background: url("images/menu-services.png") no-repeat center center;
  width: 167px;
  height: 181px;
  position: relative;
  margin: 100px 20px 20px;
}

.nav-top span{
  position: absolute;
  bottom: 35px;
  right: 55px;
}

.nav-top:before{
  content: "";
  background: url("images/menu-services-color.png") no-repeat center center;
  display: block;
  width: 167px;
  height: 181px;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-top:hover:before{
  opacity: 1;
}

.header-nav-bottom{
  display: flex;
  justify-content: space-between;
}

.header-nav-bottom .header-nav-bottom-cols{
  display: flex;
}

.header-nav-bottom .nav-top{
  margin: 0 20px 0;
}

.header-nav-bottom-cols:first-child .nav-top span{
  right: 64px;
}

.header-nav-bottom-cols:last-child .nav-top span{
  right: 68px;
}

.header-nav-bottom-cols:last-child .nav-top:last-child span{
  right: 55px;
}

.header-arrow {
  padding-bottom: 100px;
}

.header-arrow a{
  background: url("images/header-arrow.png") no-repeat center center;
  display: block;
  width: 86px;
  height: 93px;
  margin: 0 auto;
}

.header-arrow a:before{
  content: "";
  background: url("images/header-arrow-color.png") no-repeat center center;
  display: block;
  width: 86px;
  height: 93px;
  opacity: 0;
  transition: opacity 0.3s;
}

.header-arrow a:hover:before{
  opacity: 1;
}
