.menu .container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 35px 15px;
}
.menu .menu-logo{
  font-size: 1.9em;
  font-family: 'Arima Madurai', cursive;
}

.menu-logo span{
  color: #9f449b;
}

.menu .menu-logo a{
  text-decoration: none;
  color: #676767;
}

.menu .menu-list ul a{
  text-decoration: none;
  color: #676767;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu .menu-list ul a:hover{
  color: #9f449b;
}

.menu .menu-list ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.menu .menu-list ul li{
  margin-left: 20px ;
}
